# global gitconfig

[user]
  name = Bertrand Sim
  email = bertrand.sim@users.noreply.github.com
  # username = 
[color]
  ui = auto
[color "diff"]
[color "status"]
[color "branch"]
[core]
  editor = gvim
  # pager = less -FRSX
  # whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  # autocrlf = input
  # symlinks = false
  # excludesfile = ~/.gitignore
[diff]
  tool = gvimdiff
[difftool]
  prompt = false
[github]
  user = BertrandSim
  # token = 
[push]
  default = current
[filter "lfs"]
# still not sure what these do
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[alias]
  aliases = ! git config --get-regexp '^alias\\.'  # lists aliases
  conf    = config
  conf-l  = config --local
  conf-g  = config --global
  conf-s  = config --system
  conf-f  = config --file
  ad      = add
  rs      = reset
  df      = diff
  dfc     = diff --cached
  dt      = difftool
  dtc     = difftool --cached
  fe      = fetch
  com     = commit
  com-a   = commit --amend
  cho     = checkout
  br      = branch
  st      = status
  # sts = status -sb
  # lg = log --graph --pretty=format:'%C(yellow)%h%C(auto)%d%Creset %s %C(white)- %an, %ar%Creset'
