[submodule ".vim/pack/bundle/start/vim-solarized8"]
	path = dot_vim/pack/bundle/start/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule ".vim/pack/bundle/opt/Nvim-R"]
	path = dot_vim/pack/bundle/opt/Nvim-R
	url = https://github.com/BertrandSim/Nvim-R.git
[submodule ".vim/pack/bundle/opt/auto-pairs"]
	path = dot_vim/pack/bundle/opt/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule ".vim/pack/bundle/opt/vim-angry"]
	path = dot_vim/pack/bundle/opt/vim-angry
	url = https://github.com/b4winckler/vim-angry.git
[submodule ".vim/pack/bundle/start/vim-markdown-folding"]
	path = dot_vim/pack/bundle/start/vim-markdown-folding
	url = https://github.com/BertrandSim/vim-markdown-folding
[submodule ".vim/pack/bundle/start/vim-unimpaired"]
	path = dot_vim/pack/bundle/start/vim-unimpaired
	url = https://github.com/BertrandSim/vim-unimpaired.git
[submodule ".vim/pack/bundle/start/ultisnips"]
	path = dot_vim/pack/bundle/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/pack/bundle/opt/vim-easy-align"]
	path = dot_vim/pack/bundle/opt/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "dot_vim/pack/text-obj/opt/vim-textobj-entire"]
	path = dot_vim/pack/text-obj/opt/vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire.git
[submodule "dot_vim/pack/text-obj/opt/vim-textobj-line"]
	path = dot_vim/pack/text-obj/opt/vim-textobj-line
	url = https://github.com/kana/vim-textobj-line.git
[submodule "dot_vim/pack/bundle/opt/vimtex"]
	path = dot_vim/pack/bundle/opt/vimtex
	url = https://github.com/lervag/vimtex.git
